/* Root and body styling */
* {
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #333333;
  display: flex;
  background-image: url(../pattern/spiration-light.png);
  /* Background pattern from Toptal Subtle Patterns */
  background-position: center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Main Page styling */
main {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 160px 20px 1fr 20px 1fr 20px;
  grid-template-rows: 20px 1fr 20px;
  grid-template-areas:
    "h . . . . ."
    "h . w . n ."
    "h . . . . .";
}

/* Header Styling */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: h;
  background-color: #610f0f;
  border-right: solid #4d0606 1px;
  box-shadow: 0 0 9px #999;
}

.logo {
  margin: 30px 0;
  font-family: "Sen", sans-serif;
  font-size: 1.3rem;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  margin-bottom: 5vh;
  color: white;
}

.nav-link {
  color: white;
  font-family: "Sen", sans-serif;
}

input {
  border: solid 2px white;
  font-family: "Sen", sans-serif;
}

#city {
  border-radius: 25px 0 0 25px;
  width: 85px;
  margin: 0;
  height: 15px;
}

#getTemp {
  border-radius: 0 25px 25px 0;
  width: 30px;
  height: 19px;
  text-align: center;
}

.header-credits {
  margin: 30px 0;
  color: white;
  padding: 0 10px;
  font-size: 0.8em;
}

.header-credits a {
  margin: 30px 0;
  color: white;
}

/* Weather styling */
.weather-div {
  grid-area: w;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 30px 40px 1fr 140px 20px 20px 20px 40px 2fr 30px 20px 75px 1fr 30px;
  grid-template-areas:
    ". . ."
    ". a ."
    ". . ."
    ". e ."
    ". . ."
    ". c ."
    ". . ."
    ". t ."
    ". . ."
    ". f ."
    ". . ."
    ". i ."
    ". . ."
    ". . .";
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  border: solid #ccc 1px;
  background-color: #ffffff;
  box-shadow: 0 0 7px #aaa;
}

.city-title {
  font-family: "Sen", sans-serif;
  font-size: 2rem;
  grid-area: a;
}

.weather-icons {
  color: #333333;
  width: 100%;
  text-align: center;
  grid-area: e;
}

.blue {
  color: #0a3ac0;
}

.navy {
  color: #180668;
}

.purple {
  color: #30033d;
}

.burgundy {
  color: #7c0b2d;
}

.red {
  color: #ff3322;
}

.wi {
  font-size: 8em;
}

.forecast {
  display: flex;
  justify-content: center;
  grid-area: i;
}

.weather-conditions {
  grid-area: c;
  font-size: 1.2em;
}

.temps {
  grid-area: t;
  font-size: 1.2em;
}
.forecast-title {
  grid-area: f;
  font-family: "Sen", sans-serif;
}

.forecast-icon {
  font-size: 3em;
  margin: 0 10px 10px;
}

/* News Styling */
.news-div {
  grid-area: n;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 30px 50px 250px 10px auto 10px;
  grid-template-areas:
    ". . ."
    ". t ."
    "i i i"
    ". . ."
    ". h ."
    ". . .";
  border-radius: 15px;
  border: solid #ccc 1px;
  box-shadow: 0 0 7px #aaa;
  background-color: #ffffff;
}

.news-title {
  font-family: "Sen", sans-serif;
  font-size: 2rem;
  grid-area: t;
}
.news-img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  overflow: hidden;
  grid-area: i;
  align-self: flex-end;
}

.headline-div {
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headline-div h4 {
  margin-bottom: 20px;
}
/* Bottom Credits on Desktop */
footer {
  display: none;
}

/* Flip orientation on a portrait screen */
@media screen and (orientation: portrait) {
  html {
    font-size: 16px;
  }

  main {
    display: grid;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 100px 20px 1fr 20px 1fr 20px 100px;
    grid-template-areas:
      "h h h"
      ". . ."
      ". w ."
      ". . ."
      ". n ."
      ". . ."
      "f f f";
  }

  /* Header/Nav stuff */
  header {
    flex-direction: row;
    align-items: center;
    grid-area: h;
    border-bottom: solid #4d0606 1px;
    padding: 0 30px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 0;
    color: white;
  }

  .logo {
    margin: 0;
  }

  .header-credits {
    display: none;
  }

  /* Weather */
  .weather-div {
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 30px 70px 1fr 140px 20px 20px 20px 70px 1fr 30px 20px 75px 1fr 30px;
  }
  /* Footer */
  footer {
    display: flex;
    grid-area: f;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #610f0f;
    border-top: solid #4d0606 1px;
    padding: 0 30px;
  }

  footer p a {
    color: white;
  }
  footer p {
    margin-top: 0px;
  }
}

/* Resize when content gets too small */
@media only screen and (max-width: 950px) {
  /* Global Rules */
  html {
    font-size: 16px;
  }

  main {
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 100px 20px 1fr 20px 1fr 20px 100px;
    grid-template-areas:
      "h h h"
      ". . ."
      ". w ."
      ". . ."
      ". n ."
      ". . ."
      "f f f";
  }

  /* Header/Nav stuff */
  header {
    flex-direction: row;
    align-items: center;
    grid-area: h;
    border-bottom: solid #4d0606 1px;
    padding: 0 30px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 0;
    color: white;
  }

  .logo {
    margin: 0;
  }

  .header-credits {
    display: none;
  }

  /* Footer */
  footer {
    display: flex;
    grid-area: f;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #610f0f;
    border-top: solid #4d0606 1px;
    padding: 0 30px;
  }

  footer p a {
    color: white;
  }
}

/* Smaller width to keep nav bar and footer from breaking */
@media only screen and (max-width: 550px) {
  /* Global Rules */
  html {
    font-size: 16px;
  }

  main {
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 100px 20px 1fr 20px 1fr 20px 160px;
    grid-template-areas:
      "h h h"
      ". . ."
      ". w ."
      ". . ."
      ". n ."
      ". . ."
      "f f f";
  }
  /* Header/Nav stuff */
  header {
    flex-direction: row;
    align-items: center;
    grid-area: h;
    border-bottom: solid #4d0606 1px;
    padding: 0 30px;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 80px;
    margin-bottom: 0;
    color: white;
  }

  .logo {
    margin: 0;
  }

  .header-credits {
    display: none;
  }

  /* Footer */
  footer {
    display: flex;
    grid-area: f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #610f0f;
    border-top: solid #4d0606 1px;
    padding: 0 0 20px;
  }

  footer p a {
    color: white;
  }
  footer p {
    margin-top: 20px;
  }
}

/* Smaller width to keep nav bar and footer from breaking */
@media only screen and (max-width: 350px) {
  /* Global Rules */
  html {
    font-size: 17px;
  }

  main {
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 150px 20px 1fr 20px 1fr 20px 200px;
    grid-template-areas:
      "h h h"
      ". . ."
      ". w ."
      ". . ."
      ". n ."
      ". . ."
      "f f f";
  }
  /* Header/Nav stuff */
  header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-area: h;
    border-bottom: solid #4d0606 1px;
    padding: 15px 0;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 80px;
    margin-bottom: 0;
    color: white;
  }

  .logo {
    margin: 0;
  }

  .header-credits {
    display: none;
  }

  /* Footer */
  footer {
    display: flex;
    grid-area: f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #610f0f;
    border-top: solid #4d0606 1px;
    padding: 0 0 20px;
  }

  footer p a {
    color: white;
  }
  footer p {
    margin-top: 20px;
    word-wrap: break-word;
  }
}
