body {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: #333333;
}

input {
  border: solid 2px #333333;
  font-family: "Varela Round", sans-serif;
}

#city {
  border-radius: 25px 0 0 25px;
  width: 85px;
  margin: 0;
  height: 14px;
}

#getTemp {
  border-radius: 0 25px 25px 0;
  width: 30px;
  text-align: left;
}

.weather-icons {
  margin: 0 0 20px 0;
  color: #333333;
}

.blue {
  color: #2244ff;
}

.navy {
  color: #061568;
}

.black {
  color: #333333;
}

.burgundy {
  color: #6d0101;
}

.red {
  color: #ff3322;
}

.wi {
  font-size: 6em;
}

.forecast {
  display: flex;
  justify-content: center;
}

.hour-div {
  margin: 0 10px;
}

.forecast-icon {
  font-size: 3em;
}
